/*Name : Sandeep Shrestha  UN id: 16418526*/
body{
  height: 1300px;
  font-family: 'Roboto', sans-serif;
}

.img{
  margin-top:-2%;
}


.biocontent1{
  z-index: 7;
  position: relative;
  width: 88%;
  height: 510px;
  background-color: black;
  color:white;
  font-size: 90px;
  text-align: center;
  font-size:2em;
  margin-top: 5%;
  padding-top: 40px;
  padding-left:8px;
  opacity:0.8;
  font-family: 'Roboto', sans-serif;
  border-radius:50px;
  margin-left:auto;
  margin-right: auto;
}

.biocontent2{
  z-index: 7;
  position: relative;
  width: 88%;
  height: 510px;
  background-color: black;
  color:white;
  font-size: 90px;
  text-align: center;
  font-size:2em;
  margin-top: 5%;
  padding-top: 40px;
  padding-left:8px;
  opacity:0.8;
  font-family: 'Roboto', sans-serif;
  border-radius:50px;
  margin-left:auto;
  margin-right: auto;
}


footer{
  top:-50%;
}


@media all and (max-width:1000px){

.biocontent1, .biocontent2 {
  overflow:scroll;
}
}
