body{
  height: 1350px;
  font-family: 'Roboto', sans-serif;
}

section{
 display: flex; flex-direction: row;
  top: 153px;
  justify-content:space-around;color:black; text-align:center;text-decoration: none;
  position: relative;
  opacity:0.7;
  width:88%;
  margin-top:-5%;
  margin-left:auto;
  margin-right: auto;
}

.query{
 width:48%;
 background-color:white;
 overflow: hidden;
 padding:1%;
 font-size:1em;
 border-top-left-radius:20px;
 border-bottom-left-radius:20px;
}
.form input{
  width:90%;
  border-radius: 5px;
  background:white;
  padding:1%;
  height:4%;
  font-size:1.2em;
}

.sandy{
  display:flex; flex-direction:row; justify-content:space-around;margin-left: -10%;
  font-size:1.4em;height:5%;
}

.sandy option{
  font-size:1em;height:5%;
}

.form textarea{
  width:90%;
  height:15%;
  border-radius: 5px;
  padding:1%;
  background:white;
  font-size:1.5em;
}

.form button{
  width:50px;
  border-radius: 5px;
  background:lightblue;
}

.form button:hover{
  background:green;
}

.quick{
width:48%; background-color:white;
overflow:hidden; padding:1%;font-size: 1.4em;
border-top-right-radius:20px;

border-bottom-right-radius:20px;
}

.quick >p{
  text-align: left;
  padding-left: 10%;
}

.quick >p>img{
  width:30px;
  height:30px;
  color:green;
}

.mapbox{
  position: relative;
  opacity:0.8;
  width:88%;
  margin-left: 136px;
  text-align: center;
  background-color: white;
  overflow-x: hidden;
  margin-top: 200px;
  border-radius:20px;
  margin-left:auto;
  margin-right: auto;
}

footer{
  margin-top: 1%;
  margin-bottom: 1%;
}

@media all and (max-width:1000px){
header,section, footer, map,
.menubar ul{flex-direction: column;}

}
