body{
  background-color: black;
  height: 1300px;
  font-family: 'Roboto', sans-serif;
}

header{
  height: 3%;
  width: 20%;
  background-color: white;
  color:black;
  opacity: 0.7;
  margin-top:-1%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  z-index:20;
}
.image{
    position: fixed;
    width: 100%;
    top:14%;
    z-index:-1;
}
.img {
  width: 100%;
  margin-left: -8px;
  border-radius: 15%;
}
.word-layer{
  position:absolute;
  width:88%;
  height: 500px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  display:block;
  opacity: 0.7;
  border-radius:50px;
 margin-left: 5%;
  margin-top: 8%;
  z-index:1;
}
.word-layer > h2 {
  font-size: 500%;
  font-family: monospace;
  padding-left:10%;
  margin-top: 10%;
}
.word-layer > p{
  font-size: 150%;
  font-family: monospace;
  padding-left:80%
}

#myBtn {
  position: fixed;
  height:40px;
  width: 40px;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:white;
  color: white;
  cursor: pointer;
  overflow: hidden;
  opacity:0.2;
  border-radius: 10px;
  text-decoration:none;
}

#myBtn:hover {
opacity:0.8;
color:white;
}

.top{
  height:50%;
  width: 50%;
}

.navigation{
  display:none;
  position: relative;
  background-color:white;
  width: 80px;
  height:600px;
  margin-left:1275px;
  margin-top: 5px;
  z-index: 10;
  opacity: 0.8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.botton{
  position:fixed;
  background-color: white;
  font-size: 30px;
  margin-top: -3%;
  padding:5px;
  border-radius:10px;
  cursor:pointer;
  color: black;
  border: none;
  margin-left:95%;
  z-index: 10;
}

.dropdown {
    position:fixed;
    display: inline-block;
}

.dropdown:hover .navigation {
    display: block;
}

.dropdown:hover .botton {
    background-color:grey;
}


.navigation > ul {
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  margin-top: 110px;
  font-size: 1.92em;
  margin-left: -30px;
  align-content: space-around;
  z-index:10;
}

.navigation > ul > li > a > img{
    height:50px;
    weight:50px;
    padding: 50%;
    padding-left: 10%;
}

.navigation > ul > li > a > img:hover{
  background-color:grey;
  background-size:contain;
}
.navigation > ul > li > a > img:active{
  background-color:green;
}
.material-icons.md-home {font-size: 28px;}
.material-icons.md-bio {font-size: 28px;}
.material-icons.md-cv {font-size: 28px;}
.material-icons.md-email {font-size: 28px;}


/*three circular divs*/
.main-flex-div{
display: flex;
flex-direction: row;
justify-content: space-around;
z-index: 9;
position: relative;
width: 88%;
height: 400px;
background-color: white;
top: 710px;
padding-top: 100px;
padding-left:8px;
opacity:0.6;
border-radius:50px;
margin-top: -4%;
margin-left:auto;
margin-right: auto;
}

.st-div{
width:300px;
height: 300px;
border-radius: 50%;
font-size:40px;
text-align: center;
background: radial-gradient(circle at 100px 100px, skyblue, #000);

}
.nd-div{
width:300px;
height: 300px;
border-radius: 50%;
font-size:40px;
text-align: center;
background: radial-gradient(circle at 100px 100px, skyblue, #000);

}

.rd-div{
width:300px;
height: 300px;
border-radius: 50%;
font-size:40px;
text-align: center;
background: radial-gradient(circle at 100px 100px, skyblue, #000);

}

.st-div > button,{
  top: 10%;
}

.st-div > button, .nd-div > button, .rd-div > button{
  border-radius: 10px;
  background-color:skyblue;
  border: none;
  padding:  5px;
  color:white;
  text-align: center;
  font-size:0.5em;
  transition: all 0.5s;
  cursor: pointer;
}

.st-div > button:active, .nd-div > button:active, .rd-div > button:active{
  background: green;
}

.st-div > button > a > span, .nd-div > button > a > span, .rd-div > button > a > span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.st-div > button > a > span:after, .nd-div > button > a > span:after, .rd-div > button > a > span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.st-div>button:hover span, .nd-div>button:hover span, .rd-div>button:hover span {
  padding-right: 25px;
}

.st-div>button:hover span:after, .nd-div>button:hover span:after, .rd-div>button:hover span:after {
  opacity: 1;
  right: 0;
}

footer{
  position:relative;
  opacity:0.7;
  width:88%;
  height: 15%;
  margin-top: 750px;
  background-color:black ;
  color:white;
  text-align:center;
  text-decoration: none;
  margin-left:auto;
  margin-right: auto;
  border-radius:20px;
  z-index: 9;
}

.cblock{
  padding: 8%;

}

/*social sites */
.socialsites ul {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: 180px;
  margin-right: auto;
  left:20%;
}

.socialsites img {
    height:50px;
    weight:50px;
    font-size: 20px;
    color: white;

}

.socialsites a:hover {
   opacity:0.7;
   transition: 0.3s;
}
.Facebook img{
  margin-left: -50px;
}
.Twitter img {
    margin-left: 20px;
}

.Google img{
    margin-left: 20px;
}

.Instagram img{
    margin-left: 20px;
}

.Youtube img {
    margin-left: 20px;
}



@media all and (max-width:100px){
header,body, footer,
.menubar ul{flex-direction: column;}
}
